* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0px;
    width: 900px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
    flex-shrink: 0;
}

.header li {
    align-self: center;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding: 50px 0px; */
}

.hero-main {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    max-width: 400px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero p,
.hero button {
    color: #e5e7eb;
}

.hero button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
}

.info {
    width: 900px;
    text-align: center;
}

.info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-boxes {
    display: flex;
    justify-content: space-evenly;
}

.pair {
    width: 150px;
}

.box {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 3px;
    border-radius: 10px;
}

.quote {
    background-color: #e5e7eb;
    width: 100%;
    display: flex;
    justify-content: center;
}

.quote-inner {
    max-width: 780px;
    display: flex;
    flex-direction: column;
}

.speech {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.attrib {
    text-align: right;
    font-weight: 500;
}

.call {
    box-sizing: border-box;
    width: 900px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;    
}


.call h1 {
    margin: 0;
    font-size: 15px;
}

.call p {
    margin: 0;
    font-size: 12px;
}

.call button {
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
}

